@using MobyDickWebApp.Models
@model IEnumerable<WordModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mobby Dick Word Counter</title>
</head>
<body>
    <table cellpadding="1" cellspacing="1" border="1">
        <tr>
            <th>Word</th>
            <th>Count</th>

        </tr>
        @foreach (WordModel word in Model)
        {
            <tr>
                <td>@word.text</td>
                <td>@word.count</td>
            </tr>
        }
    </table>
</body>
</html>